<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test HTML</title>
  </head>
  <body>
    <form action="/wines" method="POST">
        Name: <input
                type="text"
                name="name"
              />
        <input
          type="submit"
          value="Create Wine"
        />
    </form>
  </body>
</html>
